In [3]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_ab106_S.csv')

In [14]:
df.head()

,大專校院,學校代碼,學校名稱,學位生_正式修讀學位外國生,學位生_僑生(含港澳),學位生_正式修讀學位陸生,非學位生_外國交換生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,境外專班
0,大專校院,0001,國立政治大學,511,653,366,523,58,861,0,0,0
1,大專校院,0002,國立清華大學,564,497,279,62,147,425,0,0,0
2,大專校院,0003,國立臺灣大學,883,1395,474,723,516,953,0,0,0
3,大專校院,0004,國立臺灣師範大學,595,703,147,124,88,4567,0,0,9
4,大專校院,0004A,國立臺灣師大僑生先修部,0,497,0,0,0,0,0,0,0

In [15]:
df=df.drop("非學位生_外國交換生",axis=1)

In [16]:
df.head()

,大專校院,學校代碼,學校名稱,學位生_正式修讀學位外國生,學位生_僑生(含港澳),學位生_正式修讀學位陸生,非學位生_外國短期研習及個人選讀,非學位生_大專附設華語文中心學生,非學位生_大陸研修生,非學位生_海青班,境外專班
0,大專校院,0001,國立政治大學,511,653,366,58,861,0,0,0
1,大專校院,0002,國立清華大學,564,497,279,147,425,0,0,0
2,大專校院,0003,國立臺灣大學,883,1395,474,516,953,0,0,0
3,大專校院,0004,國立臺灣師範大學,595,703,147,88,4567,0,0,9
4,大專校院,0004A,國立臺灣師大僑生先修部,0,497,0,0,0,0,0,0

In [17]:
df=df.drop("非學位生_外國短期研習及個人選讀",axis=1)

In [18]:
df=df.drop("非學位生_大專附設華語文中心學生",axis=1)

In [19]:
df=df.drop("非學位生_大陸研修生",axis=1)

In [20]:
df=df.drop("非學位生_海青班",axis=1)

In [21]:
df=df.drop("境外專班",axis=1)

In [22]:
df.head()

   大專校院   學校代碼         學校名稱  學位生_正式修讀學位外國生  學位生_僑生(含港澳)  學位生_正式修讀學位陸生
0  大專校院   0001       國立政治大學            511          653           366
1  大專校院   0002       國立清華大學            564          497           279
2  大專校院   0003       國立臺灣大學            883         1395           474
3  大專校院   0004     國立臺灣師範大學            595          703           147
4  大專校院  0004A  國立臺灣師大僑生先修部              0          497             0

In [27]:
df1=df.sum(axis=1)

In [28]:
df1

0      1530
1      1340
2      2752
3      1445
4       497
5      1759
6       822
7      1186
8       886
9       566
10      529
11      563
12      200
13      301
14      257
15      426
16      433
17      183
18      766
19      715
20     1399
21      521
22      595
23      926
24      257
25      275
26       83
27      161
28       91
29      163
       ...
125       4
126     184
127     223
128      68
129       7
130       1
131      31
132       2
133      17
134       1
135       2
136     293
137     103
138      25
139       6
140      13
141      42
142       2
143       0
144       1
145       1
146       2
147     202
148       0
149       1
150       9
151       1
152       2
153       4
154     124
Length: 155, dtype: int64

## 每間學校的學位生總數